
/* -------------------- GALLERY -------------*/

.main-gallery {
    margin: auto;
    background: $negro;
    max-width: 1520px;
    .contenedor-galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: $negro;
        img {
            width: 330px;
            height: 552px;
            margin: 10px;
            &:hover {
                transform: scale(1.1);
                transition-duration: 0.5s;
                border-radius: 20px;
            }
        }
    }
}