/* ---------- MAIN-WORK -----------*/
.header_pages {
    background-color: $negro;

    nav {
        margin-left: 3.12rem;
        height: 4rem;
        display: flex;
        align-items: center;

        ul {
            animation: entrada_izq;
            animation-duration: 1.5s;
            animation-delay: 0.2s;
            display: flex;

            li {
                margin-right: 3rem;
                list-style: none;

                a {
                    color: $blanco;
                    text-decoration: none;
                    font-size: 33.104px;
                }
            }
        }
    }
}

.main-work {
    display: flex;
    flex-direction: column;
    background-color: $negro;

    section {
        display: flex;
        margin: 0.2rem 3.12rem 0.2rem 3.12rem;
        align-items: center;

        article {
            padding: 0 0.2rem 0 0.2rem;

            a {
                img {
                    border-radius: 10px;
                    width: 100%;
                }

            }
        }

        /* PRIMER BLOQUE */
        .jende {
            width: 45%;
        }

        .ecosistema {
            width: 60%;
        }

        /* SEGUNDO BLOQUE */
        .namnam {
            width: 102%;
        }

        .dixie {
            width: 100%;
        }
    }

    /* TERCER BLOQUE */

    .tercer_bloque {
        article {
            width: 33.3%;
        }
    }

    /* CUARTO BLOQUE */
    .cuarto_bloque {
        justify-content: space-around;

        .altiplano {
            width: 100%;
        }
    }
}


/* --------- QUERY MAIN WORK------ */

@media (max-width: 768px) {

    .header_pages {
        nav {
            ul {
                li {
                    a {
                        font-size: 22.104px;
                    }
                }
            }
        }
    }

    .main-work {
        .tercer_bloque {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            article {
                width: 48.3%;
            }
        }
    }
}

@media (max-width: 426px) {

    /* --------- MAIN WORK------ */
    .header_pages {
        nav {
            justify-content: center;
            margin: 0;

            ul {
                li {
                    margin: 0 1rem;
                    list-style: none;

                    a {
                        font-size: 20.104px;
                    }
                }
            }
        }
    }

    .main-work {
        section {
            display: flex;
            flex-direction: column;
            margin: 0.1rem 1.12rem 0.1rem 1.12rem;
            align-items: center;
            article {
                width: 100%;
            }

            /* PRIMER BLOQUE */
            .jende {
                width: 100%;
            }

            .ecosistema {
                width: 100%;
            }
        }

        /* TERCER BLOQUE */
        .tercer_bloque {
            article {
                width: 100%;
                margin: 0.5px 0;
            }
        }
    }
}