/* ------------ HEADER-INDEX------*/
.header-index {
    /* width: 100vw; */
    height: 56.4rem;
    background-color: $negro;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;

    h1 {
        animation: entrada_izq;
        animation-duration: 1.5s;
        animation-delay: 0.2s;
        width: 1139px;
        font-family: PPNeueMontreal-Thin;
        font-size: 84.251px;
        color: $blanco;
        margin: 0 3.12rem;
        font-weight: 400;

        .brand {
           
            color: $naranja;
            text-decoration: 4px underline;
        }

        .digital {
            color: $morado;
            text-decoration: 4px underline;
        }
    }
}

/* ---------- MAIN-INDEX ----------*/
.main-index {
    /* width: 100vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: $negro;

    section {
        /* -------con GRID---------- */
        display: grid;
        background-color: $negro;
        margin: 0 1rem 0 3.12rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        grid-template-areas:
            "link-last-project link-last-project link-gallery"
            "link-last-project link-last-project link-gallery"
            "link-last-project link-last-project link-gallery";
            .link-last-project {
                grid-area: link-last-project;
                /* background-image: url('./resources/Screen\ Shot\ 2024-02-14\ at\ 2.19\ 1.png');
                background-size: cover; */
                width: 100%;
        
                img {
                    width: 100%;
                    /* width: 1200px;
                    height: 639px */
                }
            }
        
            .link-gallery {
                grid-area: link-gallery;
                background-color: $naranja;
                width: 85%;
                border-radius: 80px;
        
                a {
                    /* width: 100%; */
                    height: 100%;
                    border-radius: 80px;
                    text-decoration: none;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
        
                    h2 {
                        color: $blanco;
                        font-size: 126.788px;
                        font-style: normal;
                        rotate: -90deg;
                        margin: 0rem -5rem 0rem 0rem;
                    }
                }
            }
    }

}

/* -----------MEDIA QUERYS---------- */

@media (max-width: 1024px) {
    .main-index {
        section{
            .link-gallery {
                a {
                    h2 {
                        font-size: 86.788px;
                        margin: 0rem -4rem 0rem 0rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-index {
        height: fit-content;
        padding: 4rem 0;
        h1 {
            font-size: 70px;
        }
    }

    /* -------con GRID---------- */
    .main-index {
        section {
            display: grid;
            margin: 0 1rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr 0.8fr;
            justify-items: center;
            align-content: space-around;
            grid-template-areas:
                "link-last-project link-last-project "
                "link-gallery link-gallery";
             
                .link-gallery {
                    border-radius: 55px;
        
                    a {
                        border-radius: 55px;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
        
                        h2 {
                            font-size: 90.788px;
                            rotate: 0deg;
                            margin: auto;
                        }
                    }
                }
        }

    }
}

@media (max-width: 426px) {
    .header-index {
        height: fit-content;
        padding: 4rem 0;
        h1 {
            font-size: 30px;
        }
    }
    /*-----------query main-index ---------- */

    .main-index {
        section {
            display: grid;
            margin: 0 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.8fr;
            justify-items: center;
            align-content: space-around;
            grid-template-areas:
                "link-last-project"
                "link-gallery";
               
                .link-gallery {
                    width: 100%;
                    border-radius: 20px;
                    a {
                        h2 {
                            font-size: 50.788px;
                        }
                    }
                }
        }

    }
}