@font-face {
    font-family: PPNeueMontreal-Thin;
    src: url(../resources/PPNeueMontreal-Thin.otf);
}

@font-face {
    font-family: PPNeueMontreal-SemiBolditalic;
    src: url(../resources/PPNeueMontreal-SemiBolditalic.otf);
}

@font-face {
    font-family: PPNeueMontreal-Medium;
    src: url(../resources/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: PPNeueMontreal-italic;
    src: url(../resources/PPNeueMontreal-Italic.otf);
}

@font-face {
    font-family: PPNeueMontreal-Book;
    src: url(../resources/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: PPNeueMontreal-Bold;
    src: url(../resources/PPNeueMontreal-Bold.otf);
}


* {
    margin: 0;
    padding: 0;
    font-family: PPNeueMontreal-Thin;
}

/* ----------- NAV --------*/

.nav {
    /* width: 100vw; */
    height: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121111;

}

.nav a img {
    width: 8.5rem;
    padding-left: 3.12rem;
    padding-top: 10px;
}

.nav ul {
    display: flex;
    margin-right: 3.12rem;
    list-style: none;
    justify-content: space-around;
}

.nav ul li {
    margin: 0 2rem;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30.14px;
}

/* ------------ footer ----------*/

.footer {
    /* width: 100vw; */
    height: 20.48rem;
    background-color: #121111;
}

.footer .nav-footer{
    height: 13rem;
}

.footer .nav-footer .enlaces-footer {
    height: 13rem;
    /* width: 90%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.12rem;
    list-style: none;
}

.footer .nav-footer .enlaces-footer li {
    margin: 0 2rem;
}

.footer .nav-footer .enlaces-footer li a {
    color: #fff;
    text-decoration: none;
    font-size: 30.14px;
}

.footer .contenedor__principal_redes{
    display: flex;
    justify-content: center;
}

.footer .contenedor-redes{
    width: 90%;
    height: 87px;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .contenedor-redes .nav-redes .enlaces-redes{
    display: flex;
    list-style: none    ;
}

.footer .contenedor-redes .nav-redes .enlaces-redes li{
    margin: 0 1.5rem;
}

.footer .contenedor-redes .nav-redes .enlaces-redes li a{
    color: #fff;
    text-decoration: none;
    font-size: 22.34px;
}

.footer .contenedor__principal_redes h3{
 color:    rgba(255, 255, 255, 0.40);
 margin-right: 3.12rem;
}

