@keyframes entrada_izq {
    
    0% {
        transform: translateX(2000px) scale(.7);
        opacity: 0;
    }
    70% {
        transform: translateX(0) scale(.9);
        opacity: .9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

    
    
    
 