@font-face {
    font-family: PPNeueMontreal-Thin;
    src: url(../resources/PPNeueMontreal-Thin.otf);
}

@font-face {
    font-family: PPNeueMontreal-SemiBolditalic;
    src: url(../resources/PPNeueMontreal-SemiBolditalic.otf);
}

@font-face {
    font-family: PPNeueMontreal-Medium;
    src: url(../resources/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: PPNeueMontreal-italic;
    src: url(../resources/PPNeueMontreal-Italic.otf);
}

@font-face {
    font-family: PPNeueMontreal-Book;
    src: url(../resources/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: PPNeueMontreal-Bold;
    src: url(../resources/PPNeueMontreal-Bold.otf);
}

// paleta de colores//
$negro:#121111;
$blanco: #ffffff;
$morado:#C0A9FF;
$naranja: #FFB59D;
$amarillo: #FFD075; 
$gris: #ffffff66;
