@font-face {
    font-family: PPNeueMontreal-Thin;
    src: url(../resources/PPNeueMontreal-Thin.otf);
}

@font-face {
    font-family: PPNeueMontreal-SemiBolditalic;
    src: url(../resources/PPNeueMontreal-SemiBolditalic.otf);
}

@font-face {
    font-family: PPNeueMontreal-Medium;
    src: url(../resources/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: PPNeueMontreal-italic;
    src: url(../resources/PPNeueMontreal-Italic.otf);
}

@font-face {
    font-family: PPNeueMontreal-Book;
    src: url(../resources/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: PPNeueMontreal-Bold;
    src: url(../resources/PPNeueMontreal-Bold.otf);
}


* {
    margin: 0;
    padding: 0;
    font-family: PPNeueMontreal-Thin;
}

/* ----------- NAV --------*/

.nav {
    /* width: 100vw; */
    height: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121111;

}

.nav a img {
    width: 8.5rem;
    padding-left: 3.12rem;
    padding-top: 10px;
}

.nav ul {
    display: flex;
    margin-right: 3.12rem;
    list-style: none;
    justify-content: space-around;
}

.nav ul li {
    margin: 0 2rem;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30.14px;
}

/* ------------ footer ----------*/

.footer {
    /* width: 100vw; */
    height: 20.48rem;
    background-color: #121111;
}

.footer__pages {
    /* width: 100vw; */
    height: 10rem;
    background-color: #121111;
}

.footer .nav-footer {
    height: 13rem;
}

.footer .nav-footer__hidden {
    height: 4rem;
    visibility: hidden;
}

.footer .nav-footer .enlaces-footer {
    height: 13rem;
    /* width: 90%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.12rem;
    list-style: none;
}

.footer .nav-footer .enlaces-footer li {
    margin: 0 2rem;
}

.footer .nav-footer .enlaces-footer li a {
    color: #fff;
    text-decoration: none;
    font-size: 30.14px;
}

.footer .contenedor__principal_redes {
    display: flex;
    justify-content: center;
}

.footer .contenedor-redes {
    width: 90%;
    height: 87px;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .contenedor-redes .nav-redes .enlaces-redes {
    display: flex;
    list-style: none;
}

.footer .contenedor-redes .nav-redes .enlaces-redes li {
    margin: 0 1.5rem;
}

.footer .contenedor-redes .nav-redes .enlaces-redes li a {
    color: #fff;
    text-decoration: none;
    font-size: 22.34px;
}

.footer .contenedor__principal_redes h3 {
    color: rgba(255, 255, 255, 0.40);
    margin-right: 3.12rem;
}

/* ---------- MAIN-INDEX ----------*/

.main-index {
    /* width: 100vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #121111;
}

.main-index header {
    /* width: 100vw; */
    height: 56.4rem;
    /* background-color: #121111; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-index header h1 {
    width: 1139px;
    font-family: PPNeueMontreal-Thin;
    font-size: 84.251px;
    color: #fff;
    margin-left: 3.12rem;
    font-weight: 400;
}

.main-index header h1 .brand {
    color: #FFB59D;
    text-decoration: 4px underline;

}

.main-index header h1 .digital {
    color: #C0A9FF;
    text-decoration: 4px underline;
}

/* -------con GRID---------- */

.main-index section {
    display: grid;
    background-color: #121111;
    margin: 0 1rem 0 3.12rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    grid-template-areas:
        "link-last-project link-last-project link-gallery"
        "link-last-project link-last-project link-gallery"
        "link-last-project link-last-project link-gallery";
}

.link-last-project {
    grid-area: link-last-project;
    /* background-image: url('./resources/Screen\ Shot\ 2024-02-14\ at\ 2.19\ 1.png');
    background-size: cover; */
    width: 100%;
}

.link-last-project img {
    width: 100%;
    /* width: 1200px;
    height: 639px */
}

.link-gallery {
    grid-area: link-gallery;
    background-color: #FFB59D;
    width: 85%;
    /* width: 521px;
    height: 636px; */
    border-radius: 80px;
}

.main-index .link-gallery a {
    width: 100%;
    height: 100%;
    border-radius: 80px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.main-index .link-gallery a h2 {
    color: #FFF;
    font-size: 126.788px;
    font-style: normal;
    rotate: -90deg;
    margin: 0rem -5rem 0rem 0rem;
}

/* ---------- MAIN-WORK -----------*/

.main-work {
    display: flex;
    flex-direction: column;
    background-color: #121111;

}

.main-work header nav {
    margin-left: 3.12rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.main-work header nav ul {
    display: flex;
}

.main-work header nav ul li {
    margin-right: 3rem;
    list-style: none;
}

.main-work header nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 33.104px;
}

.main-work img {
    border-radius: 10px;
    width: 100%;
}

.main-work section {
    display: flex;
    margin: 0.2rem 3.12rem 0.2rem 3.12rem;
    align-items: center;
}

.main-work article {
    padding: 0 0.2rem 0 0.2rem;
}

/* PRIMER BLOQUE */

.primer_bloque .jende {
    width: 45%;
}

.primer_bloque .ecosistema {
    width: 60%;
}

/* SEGUNDO BLOQUE */

.segundo_bloque .namnam {
    width: 102%;
}

.segundo_bloque .dixie {
    width: 100%;
}

/* TERCER BLOQUE */

.tercer_bloque article {
    width: 33.3%;
}

/* CUARTO BLOQUE */

.cuarto_bloque {
    justify-content: space-around;
}

.cuarto_bloque .altiplano {
    width: 100%;
}

/* -----------  MAIN PROJECT ----------- */

header{
   padding: 3.12rem;
   background-color: #121111;
}
header h1 {
   color: #FFF;
   font-size: 80px;
}

header h1 .jende {
   color: #FFD075
}

.main-project {
    background-color: #121111;
}

.main-project p{
    color: #FFF;
}

.main-project .sub-header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 3.12rem;
    border-bottom: 1px solid #FFF;
}
.main-project .sub-header div{
    padding-bottom: 1rem;
}

.main-project .sub-header div p{
    font-size: 20px;
}

.main-project .sub-header div svg{
    padding: 0 10px;
}

.main-project .descripcion{
    height: 10%;
    padding: 5rem 3rem;
}

.main-project .descripcion p{
    width: 50%;
    font-size: 25px;
    line-height: 39px;
}

/* ----------GRID IMAGENES ---------- */
.imagenes_proyecto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    padding: 0 3.12rem;
    grid-template-areas:
        "imagen_grande imagen_grande imagen_grande"
        "imagen-cuadrada_ imagen-cuadrada imagen-cuadrada";
}

.imagen-cuadrada {
    grid-area: imagen-cuadrada;
    background-image: url('../resources/JENDE\ -\ PHOTOS\ BY\ OSCAR\ APONTE_6.jpg');
    background-size: cover;
    background-position: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.imagen-cuadrada_ {
    grid-area: imagen-cuadrada_;
    background-image: url('../resources/JENDE\ -\ PHOTOS\ BY\ OSCAR\ APONTE_7.jpg');
    background-size: cover;
    background-position: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.imagen_grande {
    grid-area: imagen_grande;
    background-image: url('../resources/JENDE\ NEW\ FEED\ MAYO-55.JPG');
    background-size: cover;
    background-position: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.main-project .contenedor-concepto{
    display: flex;
    padding: 5rem 3rem;
    justify-content: space-between;
}

.main-project .contenedor-concepto p{
    font-size: 25px;
    line-height: 39px;
}


.main-project .contenedor-concepto .concept{
    width: 40%;
    text-align: center;
    margin: auto;
}

.main-project .contenedor-concepto .concept p{
text-decoration: underline;
}

.main-project .contenedor-concepto .contenedor_parrafo{
    width: 42%;   
}

.main-project .contenedor-imagen{
    width: 93%;
    margin: auto;
}

.main-project .contenedor-imagen div{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/7aada9149536781.62e9520ea60f5.jpg');
    background-size: cover;
    height: 50rem;
    border-radius: 20px;
}

.main-project .contenedor-frase{
    height: auto;
    margin: 0 3.12rem;
}

.main-project .contenedor-frase div{
    width: 75%;
    padding: 4rem 0;
}

.main-project .contenedor-frase p{
    font-size: 80px;
}

.imagenes_proyecto_ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    padding: 0 3.12rem;
    grid-template-areas:
    "imagen-cuadrada_ imagen-cuadrada imagen-cuadrada"
    "imagen_grande_ imagen_grande_ imagen_grande_";
}

.imagen-cuadrada {
    grid-area: imagen-cuadrada;
    background-image: url('../resources/JENDE\ -\ PHOTOS\ BY\ OSCAR\ APONTE_6.jpg');
    background-size: cover;
    background-position: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.imagen-cuadrada_ {
    grid-area: imagen-cuadrada_;
    background-image: url('../resources/JENDE\ -\ PHOTOS\ BY\ OSCAR\ APONTE_7.jpg');
    background-size: cover;
    background-position: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.imagen_grande_ {
    grid-area: imagen_grande_;
    background-image: url('	https://mir-s3-cdn-cf.behance.net/project_modules/1400/e09740149536781.655e4dc0594a0.jpg');
    background-size: cover;
    background-position: center;
    margin: 1rem 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.main-project .botones{
    padding: 2rem;
}

.main-project .botones div{
    display: flex;
    justify-content: space-around;
}

.main-project .botones div a{
    font-size: 129.222px;
    text-decoration: none;
    color: #FFF;
}

.botones div a:hover {
    text-decoration: 2px underline;
    color: #A1FEDD;
    font-size: 100.222px;
    transition: all 0.5s;
}

@media (max-width: 600px) {

    /* -------- query nav --------- */
    .nav {
        /* width: 100vw; */
        height: 5.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(41, 40, 40);
    }

    .nav a img {
        width: 12rem;
        padding-left: 0;
    }

    .nav ul {
        margin-right: 0;
    }


    /* --------- query footer ----------*/

    .footer div nav ul {
        width: 96%;
        padding-left: 1rem;
    }

    .footer div nav ul li {
        margin: 0 1.3rem;
    }

    /*-----------query main-index ---------- */

    .main-index header {
        /* width: 100vw; */
        height: 27rem;
    }

    .main-index header h1 {
        font-size: 40px;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .main-index section article a h2 {
        font-size: 6rem;
    }

    .main-index article {
        border-radius: 3%;
    }

    .main-index section article a {
        border-radius: 3%;
    }

    .main-index section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 18rem 13rem;
        justify-items: center;
        grid-template-areas:
            "link-last-project link-last-project "
            "link-gallery link-gallery";
    }

    .main-index article {
        margin: 0.5rem 0 0.5rem 0;
    }

    .main-index .link-last-project a {
        justify-content: center;
        align-items: center;
    }


    .main-index .link-gallery a {
        justify-content: center;
        align-items: center;
    }


    .main-index .link-gallery h2 {
        rotate: 0deg;
        margin: 0;
    }
}